{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}
{% block header %}{% endblock %}
{% block body %}
    <p style="padding: 30px;">
        Si un compte correspondant à votre adresse e-mail existe, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe. Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p style="padding: 25px;">Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">Réessayer</a>.</p>
    {% block features %}{% endblock %}
    {% block footer %}{% endblock %}
{% endblock %}
