{% extends 'base.html.twig' %}

{% block title %}Demandes reçues{% endblock %}

{% block body %}
    <div class="received-requests-container">
    <h1 class="received-requests-title">Demandes reçues</h1>
    
    <ul class="received-requests-list">
        {% for request in received_requests %}
            {% if request.status.value != 'validated' %}
                <li class="received-requests-item">
                    Livre: {{ request.bookOne.title }}
                    <a href="{{ path('app_exchange_received_select_books', { id: request.id }) }}" class="received-requests-link">Voir</a>
                </li>
            {% else %}
                <li class="received-requests-item">Aucune demande reçue.</li>
            {% endif %}
        {% else %}
            <li class="received-requests-item">Aucune demande reçue.</li>
        {% endfor %}
    </ul>

    <a href="{{ path('app_exchange_index') }}" class="received-requests-back">Retour à l'index</a>
</div>
{% block features %}{% endblock %}
{% endblock %}
