{% extends "base.html.twig" %}
{% block title %}Annonces{% endblock %}
{% block importmap %}
{{ importmap(['app', 'card']) }}
{% endblock %}
{% block body %}

<section class="banner">
        <h1 class="title">BOOKSINDER</h1>
        <h2 class="welcome">Bienvennue sur BOOKSINDER</h2>
        <h3 class="welcome">Les Livres de tes Reves</h3>
    </section>

<h1>Notre Bibliotheque BOOKSINDER</h1>
<a href="{{ path('listings_add')}}">Ajouter une annonce</a>
<section class ="announces">
{% for book in books %}
    {% include "partials/card.html.twig" %}
{% endfor %}
</section>
{% endblock %}