{% extends "base.html.twig" %}
{% block header %}{% endblock %}
{% block body %}
<form action="">
<label for="">label</label>
<input type="text">
<button>Modifier</button>
</form>
{% endblock %}
{% block footer %}{% endblock %}