.card {
    text-decoration: none;
    color: black;
    /* display: block; */
    background-image: url(../images/background-book2.jpg);
    /* background-color:#deb887; */
    width: 300px;
    height: 390px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 5px;
}
.sup-card{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 5px;
   
    
    }
    .rate{
        display: flex;
        flex-direction: column;
    }
    .value{
        margin-left: 10px;
    }
    .favorite, .icone-rate{
        width: 25px;
        height: 25px;
    }
    .fav{
        height: 25px;
    }
    .image-box {
        margin-top: 5px;
        width: 197;
        height: 264px;
    }
    .low-card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 280px;
        height: 130px;
    }
    
    .book-title {
        font-size: 20px;
        font-weight: bold;
        color: #c26a0b;
    }
    
    .book-author {
        font-size: 15px;
        font-weight: bold;
    }
    .infos-logo, .permanenticone {
        width: 15px;
        height: 15px;
    }
    .location, .book-state, .book-categorie{
        font-size: 12px;
        display: flex;
        align-items: center;
    }
    .details {
        display: flex;
        justify-content: space-between;
        height: 40px;
    }
    .detail{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .type{
        display: flex;
    }
   
    