.exchange-container, .received-requests-container, .sent-requests-container, .completed-requests-container {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .received-requests-container, .sent-requests-container, .completed-requests-container {
    background-color: #f9f9f9;
    height: 100vh;
  }
  
  .exchange-title, .received-requests-title, .sent-requests-title, h1 {
    color: #07b01f;
    text-align: center;
    margin-top: 20px;
  }

  h1 {
    color: black;
  }
  
  .exchange-list, .received-requests-list, .sent-requests-list, .completed-requests-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin: 20px auto;
  }

  .request-class {
    max-width: 50%;
  }
  
  .exchange-item, .received-requests-item, .sent-requests-item, .completed-requests-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .exchange-btn, .sent-requests-btn {
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    background-color: #e74c3c;
    border: none;
  }
  
  .exchange-btn-danger, .exchange-btn:hover, .sent-requests-btn:hover {
    background-color: #c0392b;
  }
  
  .exchange-link, .received-requests-link {
    color: #07b01f;
    text-decoration: none;
    font-weight: bold;
  }
  
  .exchange-link:hover, .received-requests-link:hover {
    text-decoration: underline;
  }
  
  .exchange-actions a, .received-requests-back, .sent-requests-back {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #07b01f;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    color: #07b01f;
    text-decoration: none;
    font-weight: bold;
  }
  
  .exchange-actions a:hover, .received-requests-back:hover, .sent-requests-back:hover {
    background-color: #07b01f;
    color: #fff;
  }
  
  .exchange-details-container {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    background-color: #f5f5f5;
}

.exchange-details-container h1 {
    color: black;
    text-align: center;
    margin-top: 20px;
}

.exchange-details-container h2 {
    color: #07b01f;
    text-align: center;
    margin-top: 15px;
}

.exchange-details-container p {
    font-size: 1.2em;
    color: #555;
    margin: 10px 0;
}

.grid {
  margin-left: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

input[type="radio"] {
    margin-right: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #07b01f;
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
}

.btn:hover {
    background-color: #069d18;
}

input[type="radio"] {
  appearance: none; /* Supprime le style par défaut */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #07b01f;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

input[type="radio"]:checked {
  background-color: #07b01f;
  border-color: #07b01f;
}

input[type="radio"]:checked::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}
