.username-profil {
    color: #000;
  }
  .profil-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
  
  .top-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 30%;
    
  }
  
  .infos-profil-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 30%;
    height: 90%;
    margin-top: 20px;
    
  }
  .table {
    width: 400px;
    height: 100px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
  }
  .bio-profil {
    background-color: #FFFFFF;
    width: 500px;
    height: 100px;
    margin-top: 63px;
    padding: 20px;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    overflow-wrap: break-word;
    word-break: break-all; 
    padding: 10px;
  }
  .infos-title-profil {
    font-weight: bold;
  }
  .profils-options, .profil-options-list {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  
  .bottom-container {
    margin-top: 100px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .infos-color {
    background-color: #f9f9f9;
    height: 25%;
  }
  .show-exchange-profil{
    background-color: #07b01f;
    color: white;
    width: 220px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  
  }
  
  .svg-icon-option svg {
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: #333;
  }
  
  /* Styles pour afficher/masquer les options */
.profils-options {
  position: relative;
  display: inline-block;
}

.svg-icon-option {
  cursor: pointer;
}

.profil-options {
  display: none;
  position: absolute;
  top: 22%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  width: 200px;
  z-index: 1;
}

.profil-options.active {
  display: block;
}

.profil-options li {
  list-style: none;
  margin: 5px 0;
}

.profil-options a,
.profil-options button,
.btn-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s;
  box-sizing: border-box; 
}

.delete-profil-btn {
  color: #fff;
  background-color: #b30000;
  border: 1px solid #b30000;
}

.delete-profil-btn:hover {
  background-color: #a00000; 
}

.btn-contact {
  background-color: #07b01f;
  color: #fff;
}

.btn-contact:hover {
  background-color: #058f1a; 
}

.show-exchange-profil:hover {
  background-color: #058f1a;
}

  
  

  /* Version mobile */
@media (max-width: 576px) {
  .profil-container {
      margin-bottom: 0;
      padding: 0;
  }

  .top-container {
      flex-direction: column; 
      height: auto;
      align-items: center;
  }

  .infos-profil-section {
      width: 90%;
      align-items: center;
      margin-top: 10px;
      height: auto;
  }

  .table {
      width: 100%;
      height: auto;
      padding-left: 0;
      padding: 15px;
      margin-top: 10px;
  }

  .bio-profil {
      width: 88%;
      height: auto;
      margin-right: 0;
      margin-top: 20px;
  }

  .infos-title-profil {
      font-size: 1.2em; 
      text-align: center;
  }

  .profils-options, .profil-options-list {
      width: 100%;
      align-items: center;
  }

  .bottom-container {
      width: 100%;
      margin-top: 50px;
      padding: 0;
  }

  .show-exchange-profil {
    margin-top: 20px;
      width: 50%;
      height: 40px;
      font-size: 1em;
  }

  .svg-icon-option svg {
      width: 35px;
      height: 35px;
  }

  .btn-contact {
      width: 100%;
      height: 40px;
      font-size: 1em;
  }

  .delete-profil-btn {
      width: 100%;
      padding: 10px;
  }

  .infos-color {
    height: 25%;
  }

  .profil-options {
    top: 110%;
    left: 25%;
}
}
