<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BOOKS EXCHANGE{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            {% include 'partials/notification.html.twig' %}
        {% endfor %}
    {% endfor %}
    
        {% block header %} {% include "partials/header.html.twig" %} {% endblock %}
        
        {% block body %}
        
        {% endblock %}

        {% block features %}
            {% include "partials/why-choose-us.html.twig" %}
        {% endblock %}

        {% block footer %} {% include "partials/footer.html.twig" %} {% endblock %}
    </body>
</html>
