{# <form action="{{ path('app_user_delete', {'id': user.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}" method="POST">
    <button type="submit" class="btn" onclick="return confirm('Confirm action ?')">Delete</button>
</form> #}
