<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nouvelle Annonce {{ book.title }} - {{ book.author }} Ajoutée</h1>
    <p>félicitation {{ book.user.email }}</p>
</body>
</html>